*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.inner{
    padding-top: 20px;
}
.header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}
.header::after{
    content: '';
    position: absolute;
    bottom: o;
    left: 50%;
    transform: translate(-50%);
    height: 5px;
    width: 124px;
    background-color: #2ecc71;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.img{
    width: 230px;
    height: 280px;
    position: relative;
    border-radius: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.3rem;
}
.p{
    padding: 0.3rem;
}
.header h1{
    color: rgb(255, 255, 255);
    line-height: 2rem;
    padding: 0.4rem;
}
